html {
    font-size: 14px;
}

.site-global-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    
    min-height: 100vh;
}

.site-global-navbar {
    border-bottom: var(--scheme-surface-0) var(--stroke) solid;
}

.site-global-navbar .navbar {
    max-width: var(--page-width-widescreen);
    margin-inline: auto;
}

.navbar {
    display: flex;
}

.navbar a,
.navbar span {
    display: inline-block;
    padding-block: var(--space-2xs);
    margin: 0;
}

.navbar li {
    height: 100%;
}

.navbar--group:nth-of-type(1) {
    margin-inline-start: auto;
}

.site-global-footer {
    border-top: var(--scheme-surface-0) var(--stroke) solid;
}

.footer-sitemap {
    max-width: var(--page-width-widescreen);
    margin-inline: auto;
    padding-block: var(--space-l);
    
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: var(--space-m);
}

.footer-sitemap label {
    grid-column: 1 / -1;
}

.footer-sitemap ul {
    
    
    
}

.site-global-footer .footer-copyright {
    background: var(--scheme-surface-0);
    text-align: center;
    padding-block: var(--space-l);
} 