@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/NotoSans/NotoSans-Regular.ttf');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: normal;
    src: url('/fonts/NotoSans/NotoSans-Italic.ttf');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/NotoSans/NotoSans-Bold.ttf');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: bold;
    src: url('/fonts/NotoSans/NotoSans-BoldItalic.ttf');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/NotoSans/NotoSans-Black.ttf');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 900;
    src: url('/fonts/NotoSans/NotoSans-BlackItalic.ttf');
}