@using Microsoft.AspNetCore.Components.Web
@namespace Katalog.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Katalog</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="/css/ready.css"/>
    <link rel="stylesheet" href="/css/fonts/noto_sans.css"/>
    <link rel="stylesheet" href="/css/fonts/jetbrains_mono.css"/>
    <link rel="stylesheet" href="/css/katalog_global.css"/>
    <script defer src="_framework/blazor.server.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
    
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body class="palette-default theme-dark">
    @RenderBody()
</body>
</html>
