@page "/Login"

<main class="page page-reader page-vertically-centered">
    <h3>Login</h3>
    
    <form action="/auth/login" method="post">
        <fieldset>
            <div class="text-input-shift-wrapper">
                <input class="text-input" type="text" placeholder="" id="loginFormUsername"/>
                <label for="loginFormUsername">Username / Email</label>
            </div>
            <div class="text-input-shift-wrapper">
                <input class="text-input" type="password" placeholder="" id="loginFormPassword"/>
                <label for="loginFormPassword">Password</label>
            </div>
        </fieldset>
        
        <a class="btn">Login</a>
    </form>
    
    <hr/>
    
    <a href="/register" class="btn">Register</a>
</main>

@code {
    
}